.register-form input,
.signin-form input {
    display: block;
    margin: 3px auto;
    padding: 10px 15px;
    text-align: center;
    width: 250px;
    border-radius: 3px;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 300;
}

.register-form button,
.signin-form button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;
    width: 250px;
    border-radius: 3px;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 300;

}
